<a href="https://colab.research.google.com/github/ankit-numpy/Prediction/blob/main/zoo_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#reading the dataset
train = pd.read_csv('drive/My Drive/Colab Notebooks/test/zoo.csv')
train

   animal_name       species  class_type  hair  ...  legs  tail  domestic  catsize
0     aardvark        Mammal           1     1  ...     4     0         0        1
1     antelope        Mammal           1     1  ...     4     1         0        1
2         bass          Fish           4     0  ...     0     1         0        0
3         bear        Mammal           1     1  ...     4     0         0        1
4         boar        Mammal           1     1  ...     4     1         0        1
..         ...           ...         ...   ...  ...   ...   ...       ...      ...
95     vulture          Bird           2     0  ...     2     1         0        1
96     wallaby        Mammal           1     1  ...     2     1         0        1
97        wasp           Bug           6     1  ...     6     0         0        0
98        wolf        Mammal           1     1  ...     4     1         0        1
99        worm  Invertebrate           7     0  ...     0     0         0        0

[100 rows x 19 columns]

In [ ]:
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
# Transformers
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

# Modeling Evaluation
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score,f1_score, confusion_matrix, classification_report

In [ ]:
from sklearn.pipeline import Pipeline as pipeline
# Create the X feature matrix and the y target vector
x = train.drop(labels=['class_type','animal_name','species'], axis=1)
y = train['class_type']
# the only step necessary to be done outside of pipeline
# convert the target column to categorical
col = pd.Categorical(y)
y = pd.Series(col.codes)
# split the clean_X into train and test sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=1, shuffle=True, stratify=y)

In [ ]:
import xgboost as xgb

import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline as pipeline

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=1)
xgb_model.fit(x, y)

y_pred = xgb_model.predict(x)
print(confusion_matrix(y, y_pred))

[[41  0  0  0  0  0  0]
 [ 0 19  0  0  0  0  0]
 [ 0  0  5  0  0  0  0]
 [ 0  0  0 13  0  0  0]
 [ 0  0  0  0  4  0  0]
 [ 0  0  0  0  0  8  0]
 [ 0  0  0  0  0  0 10]]

In [ ]:
t_ACTUAL=90
t_PREDICTED=90
n_actual=5
n_predicted=10
accuray=(t_ACTUAL+n_actual)/100
print(accuray)

0.95